body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #fff;
}

.help-block {
	 display: none;
    position: absolute;
    margin-top: -3px;
}


.medi-chat-msg .panel {
	margin: 0;
}
.medi-chat-msg .panel-body {
	height: 300px;
	overflow-x: auto;
	position: relative;
}
.medi-chat-msg .container-msg {
	/*position: absolute;*/
	bottom: 0; 
	left: 0;
	right: 0;
}
.medi-chat-msg .container-msg .msg {

}
.medi-chat-msg .container-msg .text-chat{
	position: relative;
}
.medi-chat-msg .container-msg .msg-received {
	margin-bottom: 12px; 
	text-align: left;
}
.medi-chat-msg .container-msg .msg-sent {
	margin-bottom: 12px;
	text-align: right;
}



.table.ng-table > thead > tr > th input, 
.table.ng-table > thead > tr > td input{
	padding: 0 5px;
	height: 30px;
}

.table > thead > tr > th, 
.table > thead > tr > td{
	padding: 0 0px;
}

.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > tbody > tr > td, 
.table > tfoot > tr > td{
	padding: 0 5px;
}

.table-hover > tbody > tr:hover {
    background-color: #e0e0e0;
}